
body{
	background-color:lightblue;
}
h1 {
	color:black;
	text-align:center;
	font-size: 60px;

}
h2 {
	color:black;
	font-family: verdana;
	font-size: 60%
	
}
div{
    color:blue;
    text-align:center;
}
table{
	width: 100%;
}
th{
	text-align:left;
}
.title{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

}







