<!DOCTYPE html>
<html>
<head>
<style>
body{
	background-color:lightblue;
}
h1 {
	color:black;
	text-align:center;
	font-size: 60px;
}
div{
    color:blue;
    text-align:center;
}
table{
	width: 100%;
}
th{
	text-align:left;
}

</style>
</head>
<body>
	<h1>Workshop forums</h1>
	<div>
	<p><a href="#">Members</a>
	<a href="#">Profile</a></p> 
	</div>
	<hr>
	<p><a href="#">Create</a></p>
<table>
	<tr>
		<th>Title</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	<tr>
		<td>title1</td>
        <td><a href="#">edit</a></td>
        <td><a href="#">delete</a></td>
    </tr>
    <tr>
        <td>title2</td>
        <td><a href="#">edit</a></td>
        <td><a href="#">delete</a></td>
    </tr>
    <tr>
        <td>title3</td>
        <td><a href="#">edit</a></td>
        <td><a href="#">delete</a></td>
    </tr>
</table>






</body>
</html>


